  div {
    position: absolute;
    background-color: #ffffff;
    left: 0px;
    top: 300px;
    width: 300px;
    height: 300px;
    margin: 30px;
  }
  	 h1 {
		font-size: 5em;
        color:#FFD8D8;
        text-align:left;


    }

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

